<div>
    <div class="container">
        <h4 class="name">Name: {{pokemonName    }}</h4>
        <h4 class="name">Weight: {{weight    }}</h4>
        <h4 class="name">Height: {{height    }}</h4>

        <h4 class="name">Types:</h4>
        <h4 class="name">Abilities:</h4>
        <h4 class="name">Moves:</h4>
        <div ng-repeat="move in moves">
            <div>
                <ul>
                    <li>Name: {{move.name}}</li>
                    <li>Damage class: {{move.damageClass}}</li>
                    <li>Description{{move.description}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>