<div class="container">
    <div>
        <h2>Favourite pokemons</h2>
        <button ng-href="/">Add</button>
    </div>
    <div ng-repeat="pokemon in listOfPokemonObjects" class="pokeinfo">
        <div>
            <div>
                <span>
                    <h4 class="name">{{pokemon.name | uppercase }}</h4>
                    <button ng-click="removeFromFavs(pokemon.id)">Delete</button>
                </span>
            </div>
            <a ng-href="/pokemonDetail/{{pokemon.index}}">
                <div>
                    <img class="image" src="{{pokemon.image}}" />
                    <ul ng-repeat="pokemonType in pokemon.types">
                        <li class="{{pokemonType.name}} pokemontypelist">
                            {{pokemonType.name | uppercase}}
                        </li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
</div>